In [29]:
import pandas as pd
import numpy as np

dt = ['2020-03-11', '2020-03-12','2020-03-13']
sc = ['000625.SZ','000762.SZ','600132.SH','600009.SH','600126.SH']
cn = ['sales', 'qty']
idx = pd.MultiIndex.from_product([dt, sc], names=['date', 'code'])
data = np.array([
	[422.08, 37091400],
	[73.65, 9315300],
	[207.04, 4127800],
	[510.59, 7233100],
	[63.28, 28911100],
	[471.78, 42471700],
	[59.2, 7724200],
	[156.82, 3143100],
	[853.83, 12350400],
	[52.84, 24828900],
	[789.1, 68771048],
	[57.01, 7741802],
	[223.06, 4496598],
	[1196.14, 17662768],
	[56.32, 27484360]
])

In [30]:
data

array([[4.2208000e+02, 3.7091400e+07],
       [7.3650000e+01, 9.3153000e+06],
       [2.0704000e+02, 4.1278000e+06],
       [5.1059000e+02, 7.2331000e+06],
       [6.3280000e+01, 2.8911100e+07],
       [4.7178000e+02, 4.2471700e+07],
       [5.9200000e+01, 7.7242000e+06],
       [1.5682000e+02, 3.1431000e+06],
       [8.5383000e+02, 1.2350400e+07],
       [5.2840000e+01, 2.4828900e+07],
       [7.8910000e+02, 6.8771048e+07],
       [5.7010000e+01, 7.7418020e+06],
       [2.2306000e+02, 4.4965980e+06],
       [1.1961400e+03, 1.7662768e+07],
       [5.6320000e+01, 2.7484360e+07]])

In [55]:
df = pd.DataFrame(data, index=idx, columns=cn)
print(df)

                        sales         qty
date       code
2020-03-11 000625.SZ   422.08  37091400.0
           000762.SZ    73.65   9315300.0
           600132.SH   207.04   4127800.0
           600009.SH   510.59   7233100.0
           600126.SH    63.28  28911100.0
2020-03-12 000625.SZ   471.78  42471700.0
           000762.SZ    59.20   7724200.0
           600132.SH   156.82   3143100.0
           600009.SH   853.83  12350400.0
           600126.SH    52.84  24828900.0
2020-03-13 000625.SZ   789.10  68771048.0
           000762.SZ    57.01   7741802.0
           600132.SH   223.06   4496598.0
           600009.SH  1196.14  17662768.0
           600126.SH    56.32  27484360.0

In [57]:
df.index.names = ['dt', 'cd']
df

                        sales         qty
dt         cd
2020-03-11 000625.SZ   422.08  37091400.0
           000762.SZ    73.65   9315300.0
           600132.SH   207.04   4127800.0
           600009.SH   510.59   7233100.0
           600126.SH    63.28  28911100.0
2020-03-12 000625.SZ   471.78  42471700.0
           000762.SZ    59.20   7724200.0
           600132.SH   156.82   3143100.0
           600009.SH   853.83  12350400.0
           600126.SH    52.84  24828900.0
2020-03-13 000625.SZ   789.10  68771048.0
           000762.SZ    57.01   7741802.0
           600132.SH   223.06   4496598.0
           600009.SH  1196.14  17662768.0
           600126.SH    56.32  27484360.0

In [60]:
dfstack = df.stack()
dfstack

dt          cd
2020-03-11  000625.SZ  sales         422.08
                       qty      37091400.00
            000762.SZ  sales          73.65
                       qty       9315300.00
            600132.SH  sales         207.04
                       qty       4127800.00
            600009.SH  sales         510.59
                       qty       7233100.00
            600126.SH  sales          63.28
                       qty      28911100.00
2020-03-12  000625.SZ  sales         471.78
                       qty      42471700.00
            000762.SZ  sales          59.20
                       qty       7724200.00
            600132.SH  sales         156.82
                       qty       3143100.00
            600009.SH  sales         853.83
                       qty      12350400.00
            600126.SH  sales          52.84
                       qty      24828900.00
2020-03-13  000625.SZ  sales         789.10
                       qty      68771048.00
            000762.SZ  sales          57.01
                       qty       7741802.00
            600132.SH  sales         223.06
                       qty       4496598.00
            600009.SH  sales        1196.14
                       qty      17662768.00
            600126.SH  sales          56.32
                       qty      27484360.00
dtype: float64

In [61]:
dfunstack = dfstack.unstack()
dfunstack

                        sales         qty
dt         cd
2020-03-11 000625.SZ   422.08  37091400.0
           000762.SZ    73.65   9315300.0
           600009.SH   510.59   7233100.0
           600126.SH    63.28  28911100.0
           600132.SH   207.04   4127800.0
2020-03-12 000625.SZ   471.78  42471700.0
           000762.SZ    59.20   7724200.0
           600009.SH   853.83  12350400.0
           600126.SH    52.84  24828900.0
           600132.SH   156.82   3143100.0
2020-03-13 000625.SZ   789.10  68771048.0
           000762.SZ    57.01   7741802.0
           600009.SH  1196.14  17662768.0
           600126.SH    56.32  27484360.0
           600132.SH   223.06   4496598.0

In [62]:
dfreset = dfunstack.reset_index()
dfreset

            dt         cd    sales         qty
0   2020-03-11  000625.SZ   422.08  37091400.0
1   2020-03-11  000762.SZ    73.65   9315300.0
2   2020-03-11  600009.SH   510.59   7233100.0
3   2020-03-11  600126.SH    63.28  28911100.0
4   2020-03-11  600132.SH   207.04   4127800.0
5   2020-03-12  000625.SZ   471.78  42471700.0
6   2020-03-12  000762.SZ    59.20   7724200.0
7   2020-03-12  600009.SH   853.83  12350400.0
8   2020-03-12  600126.SH    52.84  24828900.0
9   2020-03-12  600132.SH   156.82   3143100.0
10  2020-03-13  000625.SZ   789.10  68771048.0
11  2020-03-13  000762.SZ    57.01   7741802.0
12  2020-03-13  600009.SH  1196.14  17662768.0
13  2020-03-13  600126.SH    56.32  27484360.0
14  2020-03-13  600132.SH   223.06   4496598.0

In [63]:
dfgroupby = dfreset.groupby('cd')
dfgroupby

In [74]:
for name, df in dfgroupby:
    print('代码：%s'%name)
    print('-------------------------------------------')
    # print(df)
    print(df.count())
    print()

代码：000625.SZ
-------------------------------------------
dt       3
cd       3
sales    3
qty      3
dtype: int64

代码：000762.SZ
-------------------------------------------
dt       3
cd       3
sales    3
qty      3
dtype: int64

代码：600009.SH
-------------------------------------------
dt       3
cd       3
sales    3
qty      3
dtype: int64

代码：600126.SH
-------------------------------------------
dt       3
cd       3
sales    3
qty      3
dtype: int64

代码：600132.SH
-------------------------------------------
dt       3
cd       3
sales    3
qty      3
dtype: int64

In [87]:
for name, df in dfgroupby:
    print('代码：%s'%name)
    print('-------------------------------------------')
    # print(df)
    print(df.agg({'dt': 'unique','sales':'mean', 'qty':'mean'}))
    print()

代码：000625.SZ
-------------------------------------------
dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object

代码：000762.SZ
-------------------------------------------
dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                               63.286667
qty                                 8260434.0
dtype: object

代码：600009.SH
-------------------------------------------
dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  853.52
qty                           12415422.666667
dtype: object

代码：600126.SH
-------------------------------------------
dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                   57.48
qty                           27074786.666667
dtype: object

代码：600132.SH
-------------------------------------------
dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  195.64
qty                            3922499.333333
dtype: object

In [92]:
dfjs = {}
for name, df in dfgroupby:
    print('代码：%s'%name)
    print('-------------------------------------------')
    # print(df)
    dfjs[name] = [df.agg({'dt': 'unique','sales':'mean', 'qty':'mean'})]
    print(dfjs)
    print(f'-------------------- {name} data-----------')
    print('\n')

代码：000625.SZ
-------------------------------------------
{'000625.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object]}
-------------------- 000625.SZ data-----------


代码：000762.SZ
-------------------------------------------
{'000625.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object], '000762.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                               63.286667
qty                                 8260434.0
dtype: object]}
-------------------- 000762.SZ data-----------


代码：600009.SH
-------------------------------------------
{'000625.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object], '000762.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                               63.286667
qty                                 8260434.0
dtype: object], '600009.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  853.52
qty                           12415422.666667
dtype: object]}
-------------------- 600009.SH data-----------


代码：600126.SH
-------------------------------------------
{'000625.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object], '000762.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                               63.286667
qty                                 8260434.0
dtype: object], '600009.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  853.52
qty                           12415422.666667
dtype: object], '600126.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                   57.48
qty                           27074786.666667
dtype: object]}
-------------------- 600126.SH data-----------


代码：600132.SH
-------------------------------------------
{'000625.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                              560.986667
qty                                49444716.0
dtype: object], '000762.SZ': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                               63.286667
qty                                 8260434.0
dtype: object], '600009.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  853.52
qty                           12415422.666667
dtype: object], '600126.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                   57.48
qty                           27074786.666667
dtype: object], '600132.SH': [dt       [2020-03-11, 2020-03-12, 2020-03-13]
sales                                  195.64
qty                            3922499.333333
dtype: object]}
-------------------- 600132.SH data-----------

In [110]:
dfjs_to_df = pd.DataFrame([dfjs])

In [111]:
dfjs_to_df.dtypes

000625.SZ    object
000762.SZ    object
600009.SH    object
600126.SH    object
600132.SH    object
dtype: object

In [120]:
# dfjs_to_df.to_json('json1.json')
# dfjs_to_df.to_json('json2.json', orient='index') # 可以用
dfjs_to_df.to_json('json3.json', orient='columns') # 可以用

In [ ]:
## 聚合计算

In [122]:
dfjs_sort = {}
for name, df in dfgroupby:
    # print(name)
    print('-------------------------------------------')
    # print(df)
    dfjs_sort[name] = [df.groupby('dt').agg({'sales':'mean'})]
    
    # print(dfjs_sort)
    print(f'-------------------- {name} data-----------')
    print('\n')

-------------------------------------------
-------------------- 000625.SZ data-----------


-------------------------------------------
-------------------- 000762.SZ data-----------


-------------------------------------------
-------------------- 600009.SH data-----------


-------------------------------------------
-------------------- 600126.SH data-----------


-------------------------------------------
-------------------- 600132.SH data-----------

In [123]:
dfjs_sort_to_df = pd.DataFrame([dfjs_sort])

In [124]:
dfjs_to_df.dtypes

000625.SZ    object
000762.SZ    object
600009.SH    object
600126.SH    object
600132.SH    object
dtype: object

In [125]:
dfjs_to_df

,000625.SZ,000762.SZ,600009.SH,600126.SH,600132.SH
0,"[[[2020-03-11, 2020-03-12, 2020-03-13], 560.98...","[[[2020-03-11, 2020-03-12, 2020-03-13], 63.286...","[[[2020-03-11, 2020-03-12, 2020-03-13], 853.52...","[[[2020-03-11, 2020-03-12, 2020-03-13], 57.48,...","[[[2020-03-11, 2020-03-12, 2020-03-13], 195.64..."

In [126]:
dfjs_sort_to_df.to_json('json11.json', orient='columns') # 可以用

In [ ]:
dfjs_sort = {}
for name, df in dfgroupby:
    # print(name)
    print('-------------------------------------------')
    # print(df)
    dfjs_sort[name] = [df.groupby('dt').agg({'sales':'mean'})]
    
    # print(dfjs_sort)
    print(f'-------------------- {name} data-----------')
    print('\n')

In [143]:
dfjs_sort_cat = {}
for name, df in dfgroupby:
    # print(name)
    print('-------------------------------------------')
    # print(df)
    dfjs_sort_cat[name] = [df.groupby('qty').agg({'sales':'sum'}).sort_values('sales', ascending=True)]
    
    # print(dfjs_sort)
    print(f'-------------------- {name} data-----------')
    print('\n')

-------------------------------------------
-------------------- 000625.SZ data-----------


-------------------------------------------
-------------------- 000762.SZ data-----------


-------------------------------------------
-------------------- 600009.SH data-----------


-------------------------------------------
-------------------- 600126.SH data-----------


-------------------------------------------
-------------------- 600132.SH data-----------

In [144]:
dfjs_sort_cat

{'000625.SZ': [             sales
  qty
  37091400.0  422.08
  42471700.0  471.78
  68771048.0  789.10],
 '000762.SZ': [           sales
  qty
  7741802.0  57.01
  7724200.0  59.20
  9315300.0  73.65],
 '600009.SH': [              sales
  qty
  7233100.0    510.59
  12350400.0   853.83
  17662768.0  1196.14],
 '600126.SH': [            sales
  qty
  24828900.0  52.84
  27484360.0  56.32
  28911100.0  63.28],
 '600132.SH': [            sales
  qty
  3143100.0  156.82
  4127800.0  207.04
  4496598.0  223.06]}

In [146]:
dfjs_sort_cat_to_df = pd.DataFrame([dfjs_sort_cat]) # 转成dataframe

In [147]:
dfjs_sort_cat_to_df.to_json('json22.json', orient='columns') # 可以用

In [36]:
print(vom1.loc['2020-03-11'])

            sales         qty
code
000625.SZ  422.08  37091400.0
000762.SZ   73.65   9315300.0
600132.SH  207.04   4127800.0
600009.SH  510.59   7233100.0
600126.SH   63.28  28911100.0

In [41]:
print(vom1.loc[('2020-03-11', '600132.SH'), :])

sales        207.04
qty      4127800.00
Name: (2020-03-11, 600132.SH), dtype: float64

In [42]:
print(vom1.loc[('2020-03-11'), :])

            sales         qty
code
000625.SZ  422.08  37091400.0
000762.SZ   73.65   9315300.0
600132.SH  207.04   4127800.0
600009.SH  510.59   7233100.0
600126.SH   63.28  28911100.0

In [44]:
vom1.index

MultiIndex([('2020-03-11', '000625.SZ'),
            ('2020-03-11', '000762.SZ'),
            ('2020-03-11', '600132.SH'),
            ('2020-03-11', '600009.SH'),
            ('2020-03-11', '600126.SH'),
            ('2020-03-12', '000625.SZ'),
            ('2020-03-12', '000762.SZ'),
            ('2020-03-12', '600132.SH'),
            ('2020-03-12', '600009.SH'),
            ('2020-03-12', '600126.SH'),
            ('2020-03-13', '000625.SZ'),
            ('2020-03-13', '000762.SZ'),
            ('2020-03-13', '600132.SH'),
            ('2020-03-13', '600009.SH'),
            ('2020-03-13', '600126.SH')],
           names=['date', 'code'])

In [6]:
dt = ['2020-03-11', '2020-03-12','2020-03-13']
sc = ['000625.SZ','000762.SZ','600132.SH','600009.SH','000882.SZ']
cn = ['成交额', '成交量']
cols = pd.MultiIndex.from_product([dt, cn], names=['日期', '数据'])
data = np.array([
	[422.08, 37091400, 471.78, 42471700, 789.1, 68771048],
	[73.65, 9315300, 59.2, 7724200, 57.01, 7741802],
	[207.04, 4127800, 156.82, 3143100, 223.06, 4496598],
	[510.59, 7233100, 853.83, 12350400, 1196.14, 17662768],
	[63.28, 28911100, 52.84, 24828900, 56.32, 27484360]
])

In [7]:
vom2 = pd.DataFrame(data, index=sc, columns=cols)
print(vom2)

日期        2020-03-11             2020-03-12             2020-03-13
数据               成交额         成交量        成交额         成交量        成交额         成交量
000625.SZ     422.08  37091400.0     471.78  42471700.0     789.10  68771048.0
000762.SZ      73.65   9315300.0      59.20   7724200.0      57.01   7741802.0
600132.SH     207.04   4127800.0     156.82   3143100.0     223.06   4496598.0
600009.SH     510.59   7233100.0     853.83  12350400.0    1196.14  17662768.0
000882.SZ      63.28  28911100.0      52.84  24828900.0      56.32  27484360.0

In [8]:
print(vom1.loc['2020-03-11'])
print(vom1.loc['2020-03-11', '000625.SZ'])
print(vom1.loc['2020-03-11', '000625.SZ']['成交量'])

print(vom2['2020-03-11'])
print(vom2['2020-03-11', '成交额'])
print(vom2.loc['000625.SZ'])
print(vom2.loc['000625.SZ'][:,'成交额'])

              成交额         成交量
代码
000625.SZ  422.08  37091400.0
000762.SZ   73.65   9315300.0
600132.SH  207.04   4127800.0
600009.SH  510.59   7233100.0
600126.SH   63.28  28911100.0
成交额         422.08
成交量    37091400.00
Name: (2020-03-11, 000625.SZ), dtype: float64
37091400.0
数据            成交额         成交量
000625.SZ  422.08  37091400.0
000762.SZ   73.65   9315300.0
600132.SH  207.04   4127800.0
600009.SH  510.59   7233100.0
000882.SZ   63.28  28911100.0
000625.SZ    422.08
000762.SZ     73.65
600132.SH    207.04
600009.SH    510.59
000882.SZ     63.28
Name: (2020-03-11, 成交额), dtype: float64
日期          数据
2020-03-11  成交额         422.08
            成交量    37091400.00
2020-03-12  成交额         471.78
            成交量    42471700.00
2020-03-13  成交额         789.10
            成交量    68771048.00
Name: 000625.SZ, dtype: float64
日期
2020-03-11    422.08
2020-03-12    471.78
2020-03-13    789.10
Name: 000625.SZ, dtype: float64